Repository hmcts/prl-dgs-api, pull requests merged in 2022-09, with the labels that each got.

#166 Resolved Nightly Build by Surpassing (CVE-2022-25857)
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-166

#167 Adding solicitor draft order
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-167

#171 Nightly build fix
  build.gradle
  charts/prl-dgs/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-171

#176 vulnerability fix for fpet-174
  build.gradle
  charts/prl-dgs/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-176
