Repository hmcts/prl-dgs-api, pull requests merged in 2022-03, with the labels that each got.

#69 Merge to master
  build.gradle
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-69

#62 Update application.yml
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-62

#75 Update for unit test coverage and functional test
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/TestData.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-75

#74 Merge to master
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/prl-dgs/Chart.yaml
  charts/prl-dgs/values.aat.template.yaml
  charts/prl-dgs/values.preview.template.yaml
  charts/prl-dgs/values.yaml
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/mapper/TemplateDataMapper.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/TestData.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-74

#73 Update Template ID for FL401 Final Welsh
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-73

#77 Test cases for signoff
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/prl/functionaltest/ConnectionCloseExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/functionaltest/ObjectMapperTestUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/DocumentGeneratorControllerIntegrationTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/ConnectionCloseExtension.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/DgsApiSmokeTests.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/ObjectMapperTestUtil.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-77

#78 Code smell fix
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/controller/DocumentGenerateDownloadController.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/controller/helper/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/mapper/TemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/management/monitoring/health/WebServiceHealthCheckUTest.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-78

#79 Update build.gradle
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-79
