Repository hmcts/prl-dgs-api, pull requests merged in 2022-07, with the labels that each got.

#150 FPET-54 CVE fixes, smoke & functional test fixes
  Jenkinsfile_CNP
  build.gradle
  charts/prl-dgs/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/functionaltest/DocumentGenerateControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/functionaltest/RootControllerFunctionalTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/DgsApiSmokeTests.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-150

#152 PRL-1797: Renaming docmosis templates
  config/owasp/suppressions.xml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-152

#154 Upgraded helm chart for Java
  charts/prl-dgs/Chart.yaml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-154

#149 Fixed CVE Errors
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/documentgenerator/PdfGenerationServiceConsumerTest.java
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/controller/DocumentGeneratorController.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/domain/request/GenerateDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/management/config/SwaggerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/config/TemplatesConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/management/monitoring/health/WebServiceHealthCheckUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocmosisPDFGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocmosisPdfGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/NullOrEmptyValidatorUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/ResourceLoaderUTest.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-149

#160 Mutation tests fixed
  pacts/prl-dgs-api-CCD_CASE_DOCS_AM_API.json
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/ResourceLoaderUTest.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-160
