Repository hmcts/prl-dgs-api, pull requests merged in 2022-02, with the labels that each got.

#53 Nightly Jenkins integration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  Jenkinsfile_template
  bin/init.sh
  build.gradle
  config/fortify-client.properties
  src/integrationTest/java/uk/gov/hmcts/reform/prl/DocumentGeneratorControllerIntegrationTest.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-53

#55 Feature/prl 836 dark launch
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/prl-dgs/Chart.yaml
  charts/prl-dgs/values.aat.template.yaml
  charts/prl-dgs/values.preview.template.yaml
  charts/prl-dgs/values.yaml
  src/contractTest/resources/application.yml
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/config/launchdarkly/LDClientFactory.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/config/launchdarkly/LaunchDarklyClient.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/config/launchdarkly/LDClientFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/config/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-55

#54 adding c1A document
  charts/prl-dgs/Chart.yaml
  charts/prl-dgs/values.yaml
  config/owasp/suppressions.xml
  dependency-check-suppressions.xml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-54

#60 CaseType Changed to PRLAPPS
  src/contractTest/java/uk/gov/hmcts/reform/prl/documentgenerator/CdAmApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/TestData.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-60

#64 Chart upgrade
  charts/prl-dgs/Chart.yaml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-64
