Repository hmcts/prl-dgs-api, pull requests merged in 2022-01, with the labels that each got.

#29 Prl 663 merge bot pr
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-29

#36 Add docmosis binary url
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/domain/response/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/TestData.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-36

#37 fix ignored testcases
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/TestData.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-37

#38 Revert "fix ignored testcases"
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/util/TestData.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-38

#39 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-39

#40 docmosis access key changed
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-40

#41 Fix s2s auth fail
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-41

#44 Test branch
  README.md
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-44

#46 Update application.yml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-46

#49 Azure secrets access
  charts/prl-dgs/Chart.yaml
  charts/prl-dgs/values.aat.template.yaml
  charts/prl-dgs/values.preview.template.yaml
  charts/prl-dgs/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-49
