Repository hmcts/prl-dgs-api, pull requests merged in 2024-06, with the labels that each got.

#341 AP1 added
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-341

#301 FPET-914 changes
  charts/prl-dgs/values.preview.template.yaml
  pacts/prl-dgs-api-CCD_CASE_DOCS_AM_API.json
  pacts/prl_documentGeneratorClient-rpePdfService_PDFGenerationEndpointV2.json
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-301

#347 FPET-1019: Fix CVE issues
  build.gradle
  charts/prl-dgs/Chart.yaml
  charts/prl-dgs/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/config/HttpConnectionConfiguration.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-347
