Repository hmcts/prl-dgs-api, pull requests merged in 2024-07, with the labels that each got.

#352 PRL-5979 - Added LTR RE7 Welsh template
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-352

#350 PRL-5974:Added template for DA RE8 letter.
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-350

#351 Remove deprecated properties-volume-spring-boot-starter jar and updated logic to read secrets from spring config tree
  build.gradle
  charts/prl-dgs/Chart.yaml
  charts/prl-dgs/values.aat.template.yaml
  charts/prl-dgs/values.preview.template.yaml
  charts/prl-dgs/values.yaml
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-351

#357 CA DA SOS - Respondent access code cover letters
  charts/prl-dgs/values.preview.template.yaml
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-357
