Repository hmcts/prl-dgs-api, pull requests merged in 2024-09, with the labels that each got.

#348 added template for AP13,14,15
  charts/prl-dgs/values.preview.template.yaml
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-348

#366 FPET-1120 CI build issues fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/config/HttpConnectionConfiguration.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-366

#340 PR pointing
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-340

#367 Update application.yml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-367
