Repository hmcts/prl-dgs-api, pull requests merged in 2024-02, with the labels that each got.

#288 PRL-4981 - Added a new key & parsing for temp party names for hearing data
  charts/prl-dgs/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/mapper/TemplateDataMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-288

#291 Changing the file names
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-291

#280 Dynamic file name
  charts/prl-dgs/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/documentgenerator/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-280
