Repository hmcts/prl-dgs-api, pull requests merged in 2024-05, with the labels that each got.

#307 feature/nudge-fm5-reminder-notification-solicitors
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm

#327 Fix/container running as root
  Dockerfile
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-327

#330 Fix/health_check: Added health check
  Dockerfile
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-330

#306 PRL-5300 - Added a new cover letter with access code, needed when legal rep is removed
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-306

#326 Respondent respond to AOH
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-326

#329 Fix/codeowners file
  CODEOWNERS
Labels: ns:private-law, prd:prl, rel:prl-dgs-pr-329

#331 Fix/github_read_permissions : Added github read permissions for dgs
  .github/workflows/ci.yml
  charts/prl-dgs/Chart.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-331

#325 C100 ITHC Vulnerabilities fix
  .github/workflows/ci.yml
  CODEOWNERS
  Dockerfile
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-325

#334 SNI-5901-updated file name for FL404A matching naming convention
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-334

#298 FPET-909 enabled error messages for CA case
  charts/prl-dgs/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-298

#300 Fpet prl 4976
  README.md
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-300

#302 Fpet 912 fl406
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-302

#299 FPET-913
  charts/prl-dgs/values.preview.template.yaml
  src/main/resources/application.yml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-dgs-pr-299
